<section ng-class="$ctrl.styles.user">
    <h2>User Profile: {{$ctrl.userData.username}}</h2>
    <button ng-if="!$ctrl.isMe && !$ctrl.followed" ng-click="$ctrl.follow()">Follow</button>
    <div>
        <ul>
            <h3>Patches</h3> 
            <li ng-repeat="patch in $ctrl.userData.patchId"> <a ui-sref="patch({id: patch._id})">{{patch.name}}</a> <button ng-click="$ctrl.remove(patch._id)">Delete</button></li>
        </ul>
        <ul>
            <h3>Users Followed</h3>
            <li ng-repeat="user in $ctrl.userData.followingId" ui-sref="user({id: user._id})">{{user.username}}</li>
        </ul>
        <ul>
            <h3>Favorite Patches</h3>
            <li ng-repeat="fav in $ctrl.userData.favoriteId" ui-sref="patch({id: fav._id})">{{fav.name}}</li>
        </ul>
    </div>
</section>