<h1>Social Profile</h1>
<section>
    <div>
    <div>
        <h2>Liked Patches</h2>
        <ul>    
            <li ng-repeat="votes in $ctrl.votes" ui-sref="patch({id: votes._id})">{{votes.name}}</li>
        </ul>
    </div>
        <h2>Favorite Patches</h2>
        <ul>    
            <li ng-repeat="favs in $ctrl.favs" ui-sref="patch({id: favs._id})">{{favs.name}}</li>
        </ul>
    </div>
    <div>
        <h2>Most Follows</h2>
        <ul>    
            <li ng-repeat="user in $ctrl.userFollows" ui-sref="user({id: user._id})">{{user.username}}</li>
        </ul>
    </div>
</section>