<section ng-class="$ctrl.styles.social">
    <h1>Social Profile</h1>
    <div>
        <ul>    
            <h3>Liked Patches</h3>
            <li ng-repeat="votes in $ctrl.votes">{{votes.name}}</li>
        </ul>
        <ul>    
            <h3>Favorite Patches</h3>
            <li ng-repeat="favs in $ctrl.favs">{{favs.name}}</li>
        </ul>
        <ul>    
            <h3>Most Follows</h3>
            <li ng-repeat="user in $ctrl.userFollows">{{user.username}}</li>
        </ul>
    </div>
</section>