<section ng-class="$ctrl.styles.about">
  <div>
    <h2>About Us</h2>
    <p>Portamento - a synth and sequencer social site was created and maintained by the following team of developers.
    </p>
  </div>
  <ul id="bios">
    <li>
      <h4>Andy Beers</h4>
      <img src="images/andy.png" alt="andy beers">
      <p>A bunch of text telling everyone how awesome we are.</p>
    </li>

    <li>
      <h4>Tim Combs</h4>
      <img src="images/tcombs.png" alt="tim combs">
      <p>Now a full-stack javascript developer, Tim has played in a number of bands over the years and has had a storied career in the arts, education and non-profits.</p>

    <li>
      <h4>William Nickerson</h4>
      <img src="images/wnickerson.png" alt="William Nickerson">
      <p>A bunch of text telling everyone how awesome we are.</p>
    </li>

    <li>
      <h4>Niilo Smeds</h4>
      <img src="images/nsmeds.png" alt="Niilo Smeds">
      <p>A full-stack JavaScript developer from Portland with a background in music and concert lighting design.</p>
    </li>

    <li>
      <h4>Tom Timmel</h4>
      <img src="images/ttimmel.png" alt="Tom Timmel">
            <p>Tom Timmel is new to the world of coding. He comes from a business management background working mostly in tourism in Alaska. Tom has a Bachelors degree in Business Administration from Bowling Green State University and a Master's degree in Inclusive Education from Nazareth College in Rochester, N.Y. Tom is happiest when he is outdoors during any season hiking, skiing, paddling, or playing Ultimate. Check out the following links for more information.</p>
            <ul class="author-links">
              <li><a href="https://github.com/TomTimmel" target="_blank">Github</a></li>
              <li><a href="https://www.linkedin.com/in/tom-timmel-896263122?trk=nav_responsive_tab_profile" target="_blank">LinkedIn</a></li>
            </ul> 
    </li>
  </ul>
</section>