:local(.about) {
    display: flex;
    flex-direction: column;
    text-align: center;

    #bios {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            p {
                font-size: 0.8em;
                text-align: left;
            }

    }

    div {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;

        p {
            text-align: left;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;

        li {
            flex-basis: 10em;
            padding: 0.5em;

        }
    }

    img {
        width: 80px;
        border-radius: 2px;
    }


}