<section>
  <h1>About Page</h1>
  <div>Portamento - synth and sequencer social site was created and maintained by the following team of developers.</div>

  <h1>Andy Beers</h1>
  <p>A bunch of text telling everyone how awesome we are.</p>

  <h1>Tim Combs</h1>
  <img src="images/canonical_tim.png" alt="canonical tim">
  <p>A bunch of text telling everyone how awesome we are.</p>

  <h1>William Nickerson</h1>
  <p>A bunch of text telling everyone how awesome we are.</p>

  <h1>Niilo Smeds</h1>
  <p>A bunch of text telling everyone how awesome we are.</p>

  <h1>Tom Timmel</h1>
  <p>A bunch of text telling everyone how awesome we are.</p>
</section>