<section ng-class="$ctrl.styles.about">
  <div>
    <h2>About Us</h2>
    <p>Portamento is a synth and sequencer social site that provides users with the ability to create and share settings (patches) and sequences. This project was written using the MEAN stack and the <a href="https://github.com/Tonejs/Tone.js" target="_blank">Tone.js</a> Web Audio library. The following team of developers created and maintain the site.
    </p>
    <a href="https://github.com/Portamento-development" target="_blank">Portamento Github</a>
  </div>
  <ul id="bios">
    <li>
      <h4>Andy Beers</h4>
      <img src="images/andy.png" alt="andy beers">
      <p>A bunch of text telling everyone how awesome we are.</p>
    </li>

    <li>
      <h4>Tim Combs</h4>
      <img src="images/tcombs.png" alt="tim combs">
      <p>Now a full-stack javascript developer, Tim has Bachelor degrees in Social Sciences and Physical Sciences, a Master's in Cultural Studies and a certificate in Digital Marketing Strategies. He has a background of balancing work in the arts with sustainbility education and non-profit program management.</p>
      <ul class="author-links">
        <li><a href="https://github.com/timcombs" target="_blank">Github</a></li>
        <li><a href="Profilehttps://www.linkedin.com/in/timothycombs" target="_blank">LinkedIn</a></li>
      </ul> 

    <li>
      <h4>William Nickerson</h4>
      <img src="images/wnickerson.png" alt="William Nickerson">
      <p>A bunch of text telling everyone how awesome we are.</p>
    </li>

    <li>
      <h4>Niilo Smeds</h4>
      <img src="images/nsmeds.png" alt="Niilo Smeds">
      <p>A full-stack JavaScript developer from Portland with a background in music and concert lighting design.</p>
    </li>

    <li>
      <h4>Tom Timmel</h4>
      <img src="images/ttimmel.png" alt="Tom Timmel">
            <p>Tom Timmel is new to the world of coding. He comes from a business management background working mostly in tourism in Alaska. Tom has a Bachelors degree in Business Administration from Bowling Green State University and a Master's degree in Inclusive Education from Nazareth College in Rochester, N.Y. Tom is happiest when he is outdoors during any season hiking, skiing, paddling, or playing Ultimate. Check out the following links for more information.</p>
            <ul class="author-links">
              <li><a href="https://github.com/TomTimmel" target="_blank">Github</a></li>
              <li><a href="https://www.linkedin.com/in/tom-timmel-896263122?trk=nav_responsive_tab_profile" target="_blank">LinkedIn</a></li>
            </ul> 
    </li>
  </ul>
</section>