:local(.about) {
    display: flex;
    flex-direction: column;
    text-align: center;

    #bios {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;

        li {
            flex-basis: 8em;
            padding: 0.5em;

        }
    }

    img {
        width: 80px;
    }

    p {
        font-size: 0.8em;
        text-align: left;
    }

}