<div id="Content" class="FullScreen">
	<div id="Title">PolySynth</div>
	<form ng-submit="$ctrl.savePatch()">
		<input type="text" required ng-model="$ctrl.patch.name">
		<button>Save</button>
	</form>
	<select ng-options="patch.name for patch in $ctrl.userPatches" ng-model="$ctrl.patch"></select>
	<p>{{$ctrl.testSelect}}</p>
	<div>
			<input type="radio" value="pwm" ng-model="$ctrl.patch.settings.wave" ng-change="$ctrl.synth.set({oscillator: {type: $ctrl.patch.settings.wave}})">
			<input type="radio" value="triangle" ng-model="$ctrl.patch.settings.wave" ng-change="$ctrl.synth.set({oscillator: {type: $ctrl.patch.settings.wave}})">
			<input type="radio" value="square" ng-model="$ctrl.patch.settings.wave" ng-change="$ctrl.synth.set({oscillator: {type: $ctrl.patch.settings.wave}})">
			<input type="radio" value="sawtooth" ng-model="$ctrl.patch.settings.wave" ng-change="$ctrl.synth.set({oscillator: {type: $ctrl.patch.settings.wave}})">
			{{$ctrl.patch.settings.wave}}
	</div>
	<div>
		<label>A</label>
		<input type="range" min="0" max="10" step="0.1" ng-model="$ctrl.patch.settings.envelope.attack" ng-change="$ctrl.synth.set('envelope', {attack: $ctrl.patch.settings.envelope.attack})">{{$ctrl.patch.settings.envelope.attack}}
		
		<label>D</label>
		<input type="range" min="0" max="10" step="0.1" ng-model="$ctrl.patch.settings.envelope.decay" ng-change="$ctrl.synth.set('envelope', {decay: $ctrl.patch.settings.envelope.decay})">{{$ctrl.patch.settings.envelope.decay}}
		
		<label>S</label>
		<input type="range" min="0" max="1"  step="0.1" ng-model="$ctrl.patch.settings.envelope.sustain" ng-change="$ctrl.synth.set('envelope', {sustain: $ctrl.patch.settings.envelope.sustain})">{{$ctrl.patch.settings.envelope.sustain}}
		
		<label>R</label>
		<input type="range" min="0" max="10" step="0.1" ng-model="$ctrl.patch.settings.envelope.release" ng-change="$ctrl.synth.set('envelope', {release: $ctrl.patch.settings.envelope.release})">{{$ctrl.patch.settings.envelope.release}}
	</div>
	<!--<div>
		<label>Filter Type: {{filterType}}</label>
		<input type="radio" value="highpass" ng-model="filterType" ng-change="$ctrl.setFilter(10000, filterType)">
		<input type="radio" value="lowpass" ng-model="filterType" ng-change="$ctrl.setFilter(10, filterType)">
		<input type="radio" value="bandpass" ng-model="filterType" ng-change="$ctrl.setFilter(800, filterType)">
	</div>-->
	<div>
		<label>Portamento</label>
		<input type="range" min="0" max="2" step="0.1" ng-model="$ctrl.patch.settings.portamento" ng-change="$ctrl.synth.set('portamento', $ctrl.patch.settings.portamento)">{{$ctrl.patch.settings.portamento}}
	</div>
	<div class="keyboard" ng-keydown="$ctrl.keyDown($event)" ng-keyup="$ctrl.keyUp($event)" tabindex="0">
		<ul>
			<li ng-repeat="note in $ctrl.notes" ng-mousedown="$ctrl.noteOn(note.note)" ng-mouseup="$ctrl.noteOff(note.note)">{{note.note}}</li>
		</ul>
	</div>
	<div>
		<ul class="column" ng-repeat="array in $ctrl.sequenceMatrix">
			<div class="cell" ng-repeat="value in array track by $index" ng-click="$ctrl.updateMatrix($parent.$index, $index);">{{value}}</div>
		</ul>


		<button ng-click="$ctrl.startLoop()">Start</button><button ng-click="$ctrl.stopLoop()">Stop</button>
	</div>
	
</div>
