<section>
    <h1>Portamento</h1>
    <a ui-sref="user({id: $ctrl.currentUser.id})">User Profile</a>
    <a ui-sref="users">User Profile</a>
    <a ui-sref="home">Synth</a>
    <a ui-sref="about">About</a>

    <div>
        <label>
            <input name="login" type="radio" ng-model="$ctrl.action" value="signin">
            Sign in
        </label>
        <label>
            <input name="login" type="radio" ng-model="$ctrl.action" value="signup">
            Sign up
        </label>
        <label>Username:</label>
        <input ng-model="$ctrl.username">
        <label>Password:</label>
        <input type="password" ng-model="$ctrl.password">
        <button ng-click="$ctrl.login()">Submit</button>
        <h4>Signed in as: {{ $ctrl.currentUser.username }}</h4>
    </div>
</section>