@import 'fonts';

:local(.header) {
    
    background-color: powderblue;
    text-align: center;
    
    h1 {
        font-family: $display-font;
        text-transform: uppercase;
        font-size: 3em;
        margin: 0;
    }
}
    